.account--container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.account--container h2 {
  text-align: center;
  color: white;
}

.account--text-span {
  margin-top: 15px;
  color: white;
}
