.audio-controls--container {
  display: flex;
  justify-content: space-between;
  width: 75%;
  margin: 0 auto 15px;
}

.audio-controls--container .prev svg,
.audio-controls--container .next svg {
  width: 35px;
  height: 35px;
}

.audio-controls--container .play svg,
.audio-controls--container .pause svg {
  height: 40px;
  width: 40px;
}

.audio-controls--container path {
  fill: white;
}

.audio-controls--button {
  background: none;
  border: none;
  cursor: pointer;
}
