.modal--buttons-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.modal--card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 2px white;
  border-radius: 10px;
  padding: 50px 30px;
  margin: 0 auto;
  min-width: 200px;
  max-width: 500px;
  z-index: 10;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(49, 197, 255);
}

.modal--content-body {
  color: white;
  text-align: center;
}
