table {
  /* max-width: 300px; */
  border-collapse: collapse;
  margin: 80px auto;
  overflow: auto;
  border: 1px solid rgba(0, 163, 233, 0.529);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

tbody {
  height: 100px;
}

thead th {
  text-align: left;
  padding: 1em 0.5em;
  border-bottom: 1px solid white;
  background: rgba(0, 163, 233, 0.584);
}

tbody td {
  padding: 0.5em;
  border-bottom: 1px solid white;
  height: 50px;
}

tbody tr:hover {
  background-color: rgba(255, 0, 183, 0.16);
  cursor: pointer;
}
