.card--container {
  margin: auto;
  overflow: hidden;
  width: 95%;
  height: 65px;
  background: white;
  border-bottom: solid 1px rgba(0, 178, 249, 0.16);
  box-shadow: 5px 5px 15px rgba(gray);
  color: black;
}

.audio-controls--button {
  background: none;
  border: none;
  cursor: pointer;
}

.card--container-playing {
  background: rgba(81, 152, 157, 0.194);
}

.card--body {
  padding: 10px;
}

.card--track-name {
  display: block;
}

.card--columns {
  display: flex;
  justify-content: space-between;
}

.card--column-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.card--column-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
}

.card--track-name {
  font-size: 20px;
}

.card--track-detail-item {
  font-size: 14px;
  margin-top: 2px;
}
