@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* font-family: 'Montserrat', sans-serif; */
  line-height: 1.5;
  font-weight: 600;

  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  background-color: rgba(0, 180, 249);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

ol,
ul {
  list-style: none;
}

a {
  font-weight: 500;
  color: white;
  text-decoration: none;
}

path {
  fill: white;
}

input,
select,
option,
optgroup,
textarea,
button,
pre,
code {
  /* font-size: 100%; */
  font-family: inherit;
}

body {
  min-height: 100vh;
}

/* body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
} */

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
/* button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
} */

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
