.track-list--container {
  margin: 30px 0 0 0;
  width: 90%;
  max-width: 500px;
  max-height: 600px;
  overflow: scroll;
}

.track-list--container p {
  text-align: center;
}

@media screen and (min-width: 790px) {
  .trackListContainer {
    width: 500px;
    max-width: none;
  }
}
